<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
    </Console>
  </Appenders>
  
  <Loggers>
    <!-- Unity Catalog server logging -->
    <Logger name="io.unitycatalog" level="DEBUG" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>
    
    <!-- Unity Catalog server startup and configuration -->
    <Logger name="io.unitycatalog.server" level="DEBUG" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>
    
    <!-- Armeria (HTTP server used by Unity Catalog) -->
    <Logger name="com.linecorp.armeria" level="INFO" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>
    
    <!-- Test logging -->
    <Logger name="io.sparkuctest" level="DEBUG" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>
    
    <!-- Reduce Spark noise -->
    <Logger name="org.apache.spark" level="WARN" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>
    
    <Logger name="org.sparkproject" level="WARN" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>
    
    <!-- Reduce Hadoop noise -->
    <Logger name="org.apache.hadoop" level="WARN" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>
    
    <!-- Root logger -->
    <Root level="INFO">
      <AppenderRef ref="Console"/>
    </Root>
  </Loggers>
</Configuration>

