# pandas API on Spark Code formatter.
black==23.9.1
py

# Spark Connect (required)
grpcio>=1.62.0
grpcio-status>=1.62.0
googleapis-common-protos>=1.56.4

# Spark Connect python proto generation plugin (optional)
mypy-protobuf==3.3.0
googleapis-common-protos-stubs==2.2.0
grpc-stubs==1.24.11
