name: "Build Test"
on: [push, pull_request]
jobs:
  test:
    name: "Build"
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v3

      - name: Install Java 17
        uses: actions/setup-java@v3
        with:
          distribution: "zulu"
          java-version: "17"

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Cache Scala, SBT
        uses: actions/cache@v3
        with:
          path: |
            ~/.sbt
            ~/.ivy2
            ~/.cache/coursier
          key: delta-sbt-cache-cross-spark

      - name: Run cross-Spark build test
        run: python project/tests/test_cross_spark_publish.py
