name: "Delta Kernel Tests"
on: [push, pull_request]
jobs:
  test:
    runs-on: ubuntu-20.04
    env:
      SCALA_VERSION: 2.12.17
    steps:
      - uses: actions/checkout@v3
      - uses: technote-space/get-diff-action@v4
        id: git-diff
        with:
          PATTERNS: |
            **
            .github/workflows/**
            !connectors/**
            !spark/**
            !hudi/**
            !iceberg/**
            !icebergShaded/**
            !*.md
            !**/*.md
      - name: install java
        uses: actions/setup-java@v3
        with:
          distribution: "zulu"
          java-version: "8"
      - name: Run tests
        run: |
          python run-tests.py --group kernel --coverage
        if: steps.git-diff.outputs.diff
      - name: Run integration tests
        run: |
          cd kernel/examples && python run-kernel-examples.py --use-local
        if: steps.git-diff.outputs.diff
